body {
  font-family: arial;
  text-align: center;
  background-color: grey;
}

.pezHead-option-container {
  padding: 0px 20px;
  text-align: center;
}
.pezHead-option-container .pezHead-option {
  height: 48px;
  width: 48px;
  cursor: pointer;
  border: 2px solid #CDCDCD;
}
.pezHead-option-container .pezHead-option:hover {
  border: 2px solid #000000;
}

.pezHead {
  height: 80px;
  width: 80px;
  border: 2px solid #424242;
}

#MyPezDispenser {
  text-align: center;
}
#MyPezDispenser span {
  display: block;
}
#MyPezDispenser input {
  width: 80px;
  cursor: pointer;
  margin: 6px;
}
